.right-menu-container{
    overflow-wrap: none;
}

.sticky-box {
    position: sticky;
    top:0px;
    overflow: auto;
}

.notice-text {
    cursor: pointer;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}